<!DOCTYPE html>
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="{{URLS.css}}/bootstrap.min.css" rel="stylesheet">

  <!-- Font Awesome (iconos) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="shortcut icon" href="{{URLS.images}}/favicon.ico" type="image/x-icon">

  <title>Gaucho Rocket {{ section }}</title>

</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top bg-opacity-75 border-bottom shadow-sm"
    aria-label="Fourth navbar example">
    <div class="container-fluid">
      <h3>
        <i class="fa-solid fa-rocket"></i>
        <a class="navbar-brand" href="{{URLS.domain_name}}">Gaucho Rocket</a>
      </h3>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
        aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Ejemplo de IF con mustache  -->
      {{#session}}
      <b>Bienvenido, {{session}}</b>
      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <ul>
          <a href="{{URLS.domain_name}}/login/logout">
            <button class="btn btn-outline-danger btn-sm"><i class="fa-solid fa-sign-out"></i> Logout</button>
          </a>
        </ul>
        {{/session}}
        {{^session}}
        <b>NO ESTÁS LOGUEADO</b>

        <ul class="navbar-nav mr-auto mb-2 mb-md-2">
          <li>
            <a href="{{URLS.domain_name}}/login">
              <button class="btn btn-outline-primary btn-sm"><i class="fa-solid fa-user"></i> Iniciar sesion</button>
            </a>
          </li>
          <li>
            <a href="{{URLS.domain_name}}/register">
              <button class="btn btn-primary btn-sm ms-2">Registrarse</button>
            </a>
          </li>
        </ul>
        {{/session}}

      </div>
    </div>
  </nav>