{{>header}}

<div class="container my-5 pt-3">
    <h3 class="text-center">Check In</h3>

    <form action="{{URLS.domain_name}}/checkin/validateCheckIn" method="POST">
        {{#checkInData}}
        <div class="container w75 mx-auto py-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between mb-3">
                    <span> <i class="fa-solid fa-plane-departure"></i> Origen: {{origen}} </span>
                    <span> <i class="fa-solid fa-calendar-day"></i> Partida: {{fechasalida}} </span>
                </li>
                <li class="list-group-item d-flex justify-content-between mb-3">
                    <span> <i class="fa-solid fa-plane-arrival"></i> Destino: {{destino}} </span>
                    <span> <i class="fa-solid fa-calendar-day"></i> Arribo: {{fechallegada}} </span>
                </li>
                <li class="list-group-item mb-3"> <i class="fa-solid fa-hourglass"></i> Duración estimada: {{duracion}}
                </li>
                <li class="list-group-item d-flex justify-content-between mb-3">
                    <span class="font-weight-bold"><i class="fa-solid fa-train"></i> Cabina: {{cabina}}</span>
                    <span><i class="fa-solid fa-bell-concierge"></i> Servicio: {{servicio}}</span>
                </li>
                <li class="list-group-item mb-3"><i class="fa-solid fa-chair"></i> Asiento asignado: 88F(TODO random
                    harcoded)</li>
                <li class="list-group-item mb-3"> <i class="fa-solid fa-shuttle-space"></i> Nave:
                    {{nombreequipo}}</li>
                <li class="list-group-item mb-3"> <i class="fa-solid fa-bolt-lightning"></i> Velocidad:
                    {{tipovuelo}}
                    ({{desctipovuelo}})</li>
                <li class="list-group-item text-center mb-3">
                    // TODO SHOW QR CODE!
                </li>
            </ul>

            <div class="text-end">
                <input type="hidden" name="reservaId" value="{{reservaid}}">
                <button type="submit" class="btn btn-dark">
                    Check In
                    <i class="fa-solid fa-check"></i>
                </button>
                <a href="{{URLS.domain_name}}/checkin" class="btn btn-outline-dark">Volver</a>
            </div>
    </form>
</div>
{{/checkInData}}

{{>footer}}