{{>header}}

<div class="container my-5 pt-3">
    <h3 class="text-center">Resumen de la Reserva</h3>
</div>

<div class="card border-dark my-5 w-50 mx-auto">
    <div class="card-header">
        <i class="fas fa-rocket"></i>
    </div>
    <div class="card-body">
        <h6 class="card-title">Descripción</h6>

        <form action="{{URLS.domain_name}}/ConfirmBooking/confirm" method="POST">
            <input type="hidden" name="equipoId" value="{{equipoId}}" />
            <input type="hidden" name="origenId" value="{{tramoIdOrigen}}" />
            <input type="hidden" name="destinoId" value="{{tramoIdDestino}}" />
            <input type="hidden" name="salida" value="{{salida}}" />
            <input type="hidden" name="origen" value="{{origen}}" />
            <input type="hidden" name="llegada" value="{{llegada}}" />
            <input type="hidden" name="destino" value="{{destino}}" />
            <input type="hidden" name="cabinaId" value="{{cabinaId}}" />
            <input type="hidden" name="servicioId" value="{{servicioId}}" />

            <p class="card-text">
                Salida: {{salida}} - {{origen}}<br>
                Llegada: {{llegada}} - {{destino}}<br>
                Cabina: {{cabina}}<br>
                Servicio: {{servicio}}<br>
            </p>

            <p class="card-text">
                Pasaje: {{precioVuelo}} Créditos<br>
                Servicio de a bordo: {{precioServicio}} Créditos<br>
                Cabina: {{precioCabina}} Créditos<br>
                <h6 class="card-title">Total: {{total}} Créditos</h6>
            </p>

            <div class="text-center">
                <button type="submit" class="btn btn-info">Confirmar Reserva</button>
            </div>
        </form>
    </div>
</div>

{{#mensajeDeError}}
<div class='alert alert-info w-50 mx-auto text-center' role='alert'>
    {{mensajeDeError}}
    <a href="{{URLS.domain_name}}">Volver</a>
</div>
{{/mensajeDeError}}

{{>footer}}