{{>header}}

<div class="container w-75 mx-auto my-5 py-3">
    <form class="needs-validation" action="{{URLS.domain_name}}/search/execute" method="POST" novalidate>
        <div class="row">
            <div class="col-14">
                <span class="px-2">Viaje</span>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="tipoDeViaje" id="idaRadio" value="ida" checked>
                    <label class="form-check-label" for="idaRadio">Ida</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input radio" type="radio" name="tipoDeViaje" id="tourRadio" value="tour">
                    <label class="form-check-label" for="tourRadio">Tour</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input radio" type="radio" name="tipoDeViaje" id="suborbitalRadio" value="suborbital">
                    <label class="form-check-label" for="suborbitalRadio">Suborbital</label>
                </div>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-4 position-relative">
                <select class="form-select" name="origen" required>
                    <option value="">Seleccionar Origen</option>
                    <option value="1">Tierra - Buenos Aires</option>
                    <option value="2">Tierra - Ankara</option>
                    <option value="3">ISS</option>
                    <option value="4">Orbital Hotel</option>
                    <option value="5">Luna</option>
                    <option value="6">Marte</option>
                    <option value="7">Ganimedes</option>
                    <option value="8">Europa</option>
                    <option value="9">Io</option>
                    <option value="10">Encedalo</option>
                    <option value="11">Titan</option>
                </select>
                <div class="valid-tooltip">Origen seleccionado</div>
                <div class="invalid-tooltip">Seleccione un origen</div>
            </div>

            <div class="col-4 position-relative">
                <select class="form-select select" name="destino" required>
                    <option value="">Seleccionar destino</option>
                    <option value="1">Tierra - Buenos Aires</option>
                    <option value="2">Tierra - Ankara</option>
                    <option value="3">ISS</option>
                    <option value="4">Orbital Hotel</option>
                    <option value="5">Luna</option>
                    <option value="6">Marte</option>
                    <option value="7">Ganimedes</option>
                    <option value="8">Europa</option>
                    <option value="9">Io</option>
                    <option value="10">Encedalo</option>
                    <option value="11">Titan</option>
                </select>
                <div class="valid-tooltip">Destino seleccionado</div>
                <div class="invalid-tooltip">Seleccione un destino</div>
            </div>

            <div class="col-3">
                <input class="form-control select" id="fecha" type="date" name="fecha" placeholder="dd/mm/aaaa" min="2022-05-18" max="2030-05-18">
                <div class="valid-tooltip">Fecha seleccionada</div>
                <div class="invalid-tooltip">Seleccione una fecha</div>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-4">
                <select class="form-select select" aria-label="Nivel del pasajero" name="nivelPasajero">
                    <option disabled selected>Nivel</option>
                    <option value="1">Nivel 1</option>
                    <option value="2">Nivel 2</option>
                    <option value="3">Nivel 3</option>
                </select>
            </div>

            <div class="col-4">
                <select class="form-select select" aria-label="Opciones de cabina" name="cabina">
                    <option disabled selected>Cabina</option>
                    <option value="1">Turista</option>
                    <option value="2">Ejecutiva</option>
                    <option value="3">Primera</option>
                </select>
            </div>

            <div class="col-3">
                <select class="form-select select" aria-label="Opciones de servicio" name="servicio">
                    <option disabled selected>Servicio</option>
                    <option value="1">Standard</option>
                    <option value="2">Gourmet</option>
                    <option value="3">Spa</option>
                </select>
            </div>

            <div class="col">
                <button type="submit" class="btn btn-secondary fw-bold" name="buscar"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4 mx-5 py-5">
    <div class="col">
        <div class="card">
            <img src="{{URLS.img}}/nave.jpg" class="card-img-top h-100" alt="Imagen de nave">
            <div class="card-body">
                <h5 class="card-title">Viajes</h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="{{URLS.img}}/marte.jpg" class="card-img-top h-100" alt="Imagen de marte">
            <div class="card-body">
                <h5 class="card-title">Destinos más visitados</h5>
            </div>
        </div>
    </div>
</div>

{{>footer}}