{{>header}}

<form action="">
    <div class="row m-5 p-5">
        <div class="col">
            <select class="form-select" aria-label="Default select example">
                <option disabled selected>Seleccionar Origen</option>
                <option value="1">Tierra - Buenos Aires</option>
                <option value="2">Tierra - Ankara</option>
                <option value="3">Luna</option>
            </select>
        </div>
        <div class="col">
            <select class="form-select" aria-label="Default select example">
                <option disabled selected>Seleccionar Destino</option>
                <option value="1">Marte</option>
                <option value="2">Orbiter Hotel</option>
                <option value="3">Titán</option>
            </select>
        </div>
        <div class="col">
            <button class="btn btn-secondary"><i class="fa fa-search"></i></button>
        </div>
    </div>
</form>

{{>footer}}