{{>header}}

<section class="busqueda" style='padding:12% 5%;margin-bottom:2%;'>
<div class="container w-75 mx-auto py-5" style="background-color:rgba(0, 0, 0, 0.3);color:white;">

    <form class="needs-validation" action="{{URLS.domain_name}}/search/execute" method="POST" novalidate>
        <div class="row">
            <div class="col">
                <span class="px-2">Viaje</span>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="tipoDeViaje" id="idaRadio" value="ida" checked>
                    <label class="form-check-label" for="idaRadio">Ida</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input radio" type="radio" name="tipoDeViaje" id="tourRadio" value="tour">
                    <label class="form-check-label" for="tourRadio">Tour</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input radio" type="radio" name="tipoDeViaje" id="suborbitalRadio"
                        value="suborbital">
                    <label class="form-check-label" for="suborbitalRadio">Suborbital</label>
                </div>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-md-3 col-sm-12 position-relative">
                <select class="form-select" id="select-origen" name="origen" required>
                    <option value="">Seleccionar Origen</option>
                    <option value="1" class="hab">Tierra - Buenos Aires</option>
                    <option value="2" class="option-dis hab">Tierra - Ankara</option>
                    <option value="3" class="option-dis dis">ISS</option>
                    <option value="4" class="option-dis dis">Orbital Hotel</option>
                    <option value="5" class="option-dis dis">Luna</option>
                    <option value="6" class="option-dis dis ">Marte</option>
                    <option value="7" class="option-dis dis">Ganimedes</option>
                    <option value="8" class="option-dis dis">Europa</option>
                    <option value="9" class="option-dis dis">Io</option>
                    <option value="10" class="option-dis dis">Encedalo</option>
                    <option value="11" class="option-dis dis">Titan</option>
                </select>
                <div class="valid-tooltip">Origen seleccionado</div>
                <div class="invalid-tooltip">Seleccione un origen</div>
            </div>

            <div class="col-md-1 col-sm-12 position-relative">
                <button id="toggle" type="button" class="btn btn-primary" title="cambiar">
                   <i class="fa-solid fa-arrow-right-arrow-left"></i> 
                </button>
            </div>

            <div class="col-md-3 col-sm-12 position-relative">
                <select class="form-select select" id="select-destino" name="destino" required>
                    <option value="">Seleccionar destino</option>
                    <option value="1">Tierra - Buenos Aires</option>
                    <option value="2">Tierra - Ankara</option>
                    <option value="3">ISS</option>
                    <option value="4">Orbital Hotel</option>
                    <option value="5">Luna</option>
                    <option value="6">Marte</option>
                    <option value="7">Ganimedes</option>
                    <option value="8">Europa</option>
                    <option value="9">Io</option>
                    <option value="10">Encedalo</option>
                    <option value="11">Titan</option>
                </select>
                <div class="valid-tooltip">Destino seleccionado</div>
                <div class="invalid-tooltip">Seleccione un destino</div>
            </div>

            <div class="col-md-3 col-sm-12">
                <input class="form-control" id="fecha" type="date" name="fecha" placeholder="dd/mm/aaaa"
                    min="2022-05-18" max="2030-05-18">
                <div class="valid-tooltip">Fecha seleccionada</div>
                <div class="invalid-tooltip">Seleccione una fecha</div>
            </div>

            <div class="col-md-2 col-sm-12">
                <button type="submit" class="btn btn-primary" name="buscar"><i class="fa fa-search"></i> Buscar</button>
            </div>
        </div>
    </form>
</div>
</section>
<div class="row row-cols-1 row-cols-md-2 g-4 mx-5 py-5">
    <div class="col">
        <div class="card">
            <img src="{{URLS.img}}/nave.jpg" class="card-img-top h-100" alt="Imagen de nave">
            <div class="card-body">
                <h5 class="card-title">Próximas salidas</h5>
                <h6>Neptuno</h6>
                <p>Realizá un tour por distintos lugares hasta pasar por Neptuno</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="{{URLS.img}}/marte.jpg" class="card-img-top h-100" alt="Imagen de marte">
            <div class="card-body">
                <h5 class="card-title">Destinos más visitados</h5>
                <h6>Marte</h6>
                <p>Conocé el segundo planeta más pequeño del sistema solar</p>
            </div>
        </div>
    </div>
</div>

{{>footer}}
<script src="{{URLS.js}}/homeFunctions.js"></script>