{{>header}}

<link href="{{URLS.css}}/payment.css" rel="stylesheet">
<script src="{{URLS.js}}/payment.js"></script>

<div class="container my-5 pt-3">
    <h3 class="text-center">Pagar Reserva</h3>
</div>

<div class="container">
    <div class="wrapper border border-secondary rounded">
        <div class="outer-card">
            <form action="{{URLS.domain_name}}/payment/confirm" class="p-3" method="POST">
                <div class="forms">
                    <div class="input-items">
                        <span>Número de Tarjeta</span>
                        <input placeholder="0000 0000 0000 0000" data-slots="0" data-accept="\d"
                               size="19" name="numeroDeTarjeta" required>
                    </div>
                    <div class="input-items">
                        <span>Nombre del Titular</span>
                        <input placeholder="Moria Casan" name="nombreTitular" required>
                    </div>
                    <div class="one-line">
                        <div class="input-items">
                            <span>Fecha de expiración</span>
                            <input placeholder="mm/yyyy" data-slots="my" name="fechaDeExpiracion" required>
                        </div>
                        <div class="input-items">
                            <span>CVV</span>
                            <input placeholder="000" data-slots="0" data-accept="\d" size="3" name="cvv" required>
                        </div>
                    </div>
                    <div class="input-buttons text-center">
                        <button type="submit" class="btn btn-primary btn-block">Pagar ahora</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{>footer}}