{{>headerAdmin}}
<section style="height: 100vh;margin-bottom: 80px;">
<div class="container w-75 my-5 pt-3 text-center">
    <h3 class="text-center">Posición actual de las naves</h3>

    <form action="{{URLS.domain_name}}//position/showPosition" method="POST" class="needs-validation" novalidate>
        <div class="row w-50 mx-auto justify-content-center mt-5">
            <div class="col position-relative">
                <input class="form-control" id="fecha" type="date" name="fecha" placeholder="dd/mm/aaaa" min="2022-05-18" max="2030-05-18" class="form-control" required>
                <div class="valid-tooltip">Fecha ingresada</div>
                <div class="invalid-tooltip">Ingrese una fecha</div>
            </div>

            <div class="w-25">
                <input type="submit" value="Buscar" class="btn btn-secondary">
            </div>
        </div>
    </form>
</div>

{{#imgPositionActiv}}
<div class="container">
    <!-- IMAGEN GENERADA -->
    <img src="{{URLS.domain_name}}/public/img/imgfile.png">
</div>
{{/imgPositionActiv}}

{{#messageResult}}
<div class='alert alert-info w-50 mx-auto text-center' role='alert'>
    {{messageResult}}
</div>
{{/messageResult}}
</section>
{{>footer}}