{{>headerAdmin}}

<div class="container my-5 pt-3 text-center">
    <h3 class="text-center">Solicitar reporte</h3>
    <p>Por favor, seleccione el tipo de reporte a generar.</p>
</div>

<div class="container w-75 mx-auto py-5 px-4" style="background-color:rgba(0, 0, 0, 0.3);color:white;">

    <form action="{{URLS.domain_name}}/reporte/getReport" method="POST" novalidate>
        <div class="row">
            <div class="col-8">
                <select class="form-select mb-3" aria-label=".form-select-lg example" name="reporte">
                    <option selected disabled value="">Seleccione el tipo de informe...</option>
                    <option value="1">Cabina mas vendida</option>
                    <option value="2">Facturación mensual</option>
                    <option value="3">Facturación por cliente</option>
                    <option value="4">Tasa de ocupacion por viaje</option>
                    <option value="5">Tasa de ocupacion por equipo</option>
                </select>
            </div>

            <div class="col-4">
                <button type="submit" class="btn btn-primary" name="buscar"><i class="fa fa-search"></i> Buscar</button>
            </div>
        </div>

    </form>
</div>

<div class="container w-75 mx-auto py-5 px-4">
    <h2>GRAFICO</h2>
    <form action="{{URLS.domain_name}}/reporte/generateReport" method="POST">
        <input type="hidden" name="info" id="info">

        <div id="chart_div"></div>

        <input type="submit" value="Generar PDF">
    </form>

    <!-- IMAGEN GENERADA -->
    <img src="{{URLS.domain_name}}/public/img/imagefile.png">
</div>
{{>footer}}