{{>headerAdmin}}
<section style="height: 100vh;margin-bottom: 80px;">
<div class="container w-75 my-5 pt-3 text-center">
    <h3 class="text-center">Facturación por cliente</h3>

    <form action="{{URLS.domain_name}}/reporte/getClienteReport" method="POST" class="needs-validation" novalidate>

        <div class="row w-50 mx-auto justify-content-center mt-5">
            <div class="col position-relative">
                <input type="text" name="idUsuario" placeholder="Ingrese el id del usuario" class="form-control" required>
                <div class="valid-tooltip">Id ingresado</div>
                <div class="invalid-tooltip">Ingrese un id</div>
            </div>
            <div class="w-25">
                <input type="submit" value="Buscar" class="btn btn-secondary">
            </div>
        </div>
    </form>
</div>

{{#clienteReportActiv}}
<div class="container w-50 my-3 pt-3 text-center mx-auto">
    <table  class="w-75 mx-auto">
        <thead>
        <tr>
            <th>Id cliente</th>
            <th>Importe</th>
            <th>Fecha</th>
        </tr>
        </thead>
        <tbody>
        {{#facturacionCliente}}
        <tr>
            <td>{{idusuario}}</td>
            <td>{{importe}}</td>
            <td>{{fecha}}</td>
        </tr>
        {{/facturacionCliente}}
        </tbody>
    </table>

    <div class="my-5">
        <form action="{{URLS.domain_name}}/reporte/getPDFReportTable" method="POST">
            <input type="hidden" name="idUsuario" value="{{idUsuario}}">
            <input type="submit" value="Generar PDF">
        </form>
    </div>
</div>
{{/clienteReportActiv}}

{{#messageResult}}
<div class='alert alert-info w-50 mx-auto text-center' role='alert'>
    {{messageResult}}
</div>
{{/messageResult}}
</section>
{{>footer}}