{{>header}}

<div class="container my-5 pt-3">
    <h3 class="text-center">Próximos Vuelos</h3>
</div>

{{#proxVuelos}}
<div class="card border-info my-5 w-50 mx-auto">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <i class="fas fa-rocket"></i>
            </div>

            <div class="col">
                <h5 class="text-center">{{tipovuelo}}</h5>
            </div>

            {{#pagoid}}
            <div class="col text-end">
                <span class="badge bg-success">PAGADO</span>
            </div>
            {{/pagoid}}

            {{^pagoid}}
            <div class="col text-end ">
                <span class="badge bg-warning">PENDIENTE DE PAGO</span>
            </div>
            {{/pagoid}}
        </div>
    </div>
    <div class="card-body">
        <h6 class="card-title">Descripción</h6>
        <p class="card-text">Salida: {{salida}} - {{origen}} <br>
            Llegada: {{llegada}} - {{destino}}<br>
        </p>
        <span class="font-weight-bold">Cabina: {{cabina}}</span> <br>
        <span>Servicio: {{servicio}}</span><br><br>
        <h6 class="card-title">Precio: {{precio}} Créditos</h6>
    </div>
</div>
{{/proxVuelos}}

{{^proxVuelos}}
<div class="container my-5 pt-3">
    <h3 class="text-center">No tenés vuelos</h3>
</div>
{{/proxVuelos}}

{{>footer}}