{{>header}}

<div class="container my-5 pt-3">
    <h3 class="text-center">Resultado de la búsqueda: {{cantidadDeVuelos}}</h3>
</div>
{{#datos}}
<div class="card border-dark my-5 w-50 mx-auto">
    <div class="card-header">
        <i class="fas fa-rocket"></i>
    </div>
    <div class="card-body">
        <h6 class="card-title">Descripción</h6>

        <form class="needs-validation" action="{{URLS.domain_name}}/confirmBooking/show" method="POST" novalidate>
            <input type="hidden" name="equipoId" value="{{idEquipo}}" />
            <input type="hidden" name="origenId" value="{{tramoIdOrigen}}" />
            <input type="hidden" name="destinoId" value="{{tramoIdDestino}}" />
            <input type="hidden" name="salida" value="{{salida}}" />
            <input type="hidden" name="origen" value="{{origen}}" />
            <input type="hidden" name="llegada" value="{{llegada}}" />
            <input type="hidden" name="destino" value="{{destino}}" />

            <p class="card-text">Salida: {{salida}} - {{origen}}<br>
                Llegada: {{llegada}} - {{destino}}<br>
            </p>

            <div class="row pt-2">
                <div class="col-4 position-relative">
                    <select class="form-select select" aria-label="Opciones de cabina" name="cabinaId" required>
                        <option value="">Cabina</option>
                        <option value="">{{cabina}}</option>
                    </select>
                    <div class="valid-tooltip">Cabina seleccionada</div>
                    <div class="invalid-tooltip">Seleccione una cabina</div>
                </div>

                <div class="col-4 position-relative">
                    <select class="form-select select" aria-label="Opciones de servicio" name="servicioId" required>
                        <option value="">Servicio</option>
                        <option value="1">Standard</option>
                        <option value="2">Gourmet</option>
                        <option value="3">Spa</option>
                    </select>
                    <div class="valid-tooltip">Servicio seleccionado</div>
                    <div class="invalid-tooltip">Seleccione un servicio</div>
                </div>
            </div>

            <div class="text-end">
                <button type="submit" class="btn btn-info">Reservar</button>
            </div>
        </form>
    </div>
</div>
{{/datos}}

{{#messageResult}}
<div class='alert alert-info w-50 mx-auto text-center' role='alert'>
    {{messageResult}}
    <a href="{{URLS.domain_name}}">Volver</a>
</div>
{{/messageResult}}

{{>footer}}
<script src="{{URLS.js}}/search.js"></script>