{{>header}}

<div class="container my-5 pt-3">
    <h3 class="text-center">Resultado de la búsqueda</h3>
</div>
{{#datos}}
<div class="card border-dark my-5 w-50 mx-auto">
    <div class="card-header">
        <i class="fas fa-rocket"></i>
    </div>
    <div class="card-body">
        <h6 class="card-title">Descripción</h6>
        <!--/reservasView.html-->
        <form action="{{URLS.domain_name}}/reservas/reservar" method="POST">
            <input type="hidden" name="origenId" value="{{idOrigen}}"/>
            <input type="hidden" name="destinoId" value="{{idDestino}}"/>
            <input type="hidden" name="salida" value="{{salida}}"/>
            <input type="hidden" name="origen" value="{{origen}}"/>

            <p class="card-text">Salida: {{salida}} - {{origen}} <br>
                Llegada: {{llegada}} - {{destino}}<br>
               <!-- Tipo: {{tipoVuelo}} - {{nivelVuelo}}<br>-->
            </p>
            <!--<span class="font-weight-bold">Cabina {{cabina}}</span> <br>
            <span>Servicio {{servicio}}</span>-->

            <div class="text-end">
                <button type="submit" class="btn btn-info">Reservar</button>
            </div>
        </form>
           <!-- <a href="{{URLS.domain_name}}/reservas/reservar" class="btn btn-info">Reservar</a>-->
    </div>
</div>
{{/datos}}

{{#messageResult}}
<div class='alert alert-info w-50 mx-auto text-center' role='alert'>
    {{messageResult}}
    <a href="{{URLS.domain_name}}">Volver</a>
</div>
{{/messageResult}}

{{>footer}}